.submenu {
    display: none;
}

.menu-link.active,
.menu-toggle.parent-active {
    background: linear-gradient(
        90deg,
        rgba(13, 110, 253, 0.50),
        rgba(13, 110, 253, 0.10)
    );

    color: white !important;
    font-weight: 600;
    border-radius: 5px;
}

.menu-toggle {
    cursor: pointer;
}

.arrow {
    margin-left: 0.5rem;
}
